@model IEnumerable<ResitalWE.WebUI.Models.SatisRaporModel>
@{
    ViewData["Title"] = "Satis Rapor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section heads{
    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link href="~/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />
}
<div class="row layout-top-spacing">
    <div id="tableProgress" class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Satış Raporu</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Tarih</th>
                                <th class="text-center">Ara Toplam</th>
                                <th class="text-center">KDV</th>
                                <th class="text-center">Toplam</th>
                                <th class="text-center"></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.TARIH</td>
                                    <td class="text-center">@item.ARATOPLAM₺</td>
                                    <td class="text-center">
                                        @item.KDVTOPLAM₺
                                    </td>
                                    <td>
                                        <p class="text-danger text-center">@item.TOPLAM₺</p>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-sm mb-2" onclick="window.location.href='satis-raporlari/satis-raporlari-detay/@item.TARIH'">
                                            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>&nbsp; Detay
                                        </button>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>
@section Scripts{

}